<div class="row align-items-center pr-3 pl-3 message messages <%= user_is_messages_author ? "right" : "" %>" >
  <%= cl_image_tag message.user.avatar, class: "avatar" %><p class="pr-2 pl-2" style="color: white; font-weight: bold"><%= message.user.first_name %><small> (<%= time_ago_in_words(message.created_at) %> ago)</small></%></p>
</div>
<div class="row message-content pl-3 <%= user_is_messages_author ? "flex-end-message" : "" %>">
  <p class="word-wrap" style="margin-left: 35px"><%= message.content %></p>
</div>
