<%= render "/shared/navbar" %>

<h2 class="log-in-sign-up-h2 sign-up-h2" class="text-center">EDIT PROFILE</h2>

<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
          <div class="row no-gutters">
            <div class="col-6">
              <%= f.input :first_name,
                          required: true,
                          autofocus: true,
                          placeholder: "First Name",
                          input_html: { autocomplete: "first-name" } %>
            </div>
            <div class="col-6">
              <%= f.input :last_name,
                          required: true,
                          placeholder: "Last Name",
                          input_html: { autocomplete: "last-name" } %>
            </div>
          </div>
          <%= f.input :birth_date, as: :date,
                      placeholder: "Birth Date",
                      start_year: Date.today.year - 90,
                      end_year: Date.today.year - 12,
                      order: [:day, :month, :year],
                      required: true,
                      input_html: { autocomplete: "birth-date" } %>
          <%= f.input :username,
                      hint: "Leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "username" } %>
          <%= f.input :email, required: true, autofocus: true %>
          <% if resource.Player? %>
            <%= f.input :position,as: :select, collection: ["Goalkeeper", "Defense", "Midfielder", "Forward"] %>
            <%= f.input :foot,as: :select, collection: ["Right", "Left"] %>
          <% end %>
          <%= f.input :avatar %>
          <%= f.input :avatar_cache, as: :hidden %>
          <%= f.input :password,
                      hint: "Leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "We need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        <p id="submit-wrapper"><%= f.submit "Edit", class: "solid-btn smaller", id: "go-solid-btn-homepage" %></p>
      <% end  %>
    </div>
  </div>
  <p class="mt-3 mb-3"><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
