<ul>
  <% @group_members.each do |group_member| %>
    <li><%= group_member.group.field.name %></li>
    <li><%= group_member.group.status %></li>
    <li><%= group_member.group.date.strftime("%-d %B") %> <%= group_member.group.start_time.strftime("%R") %>-<%= group_member.group.end_time.strftime("%R") %></li>
    <li><%= GroupMember.where(group: group_member.group).count %>/<%= group_member.group.max_members %></li>
    <br>
  <% end %>
</ul>
