<div class="card">
  <div class="card-body">
    <div><%= group.field.name %></div>
    <div><%= group.field.location %></div>
    <div><%= group.field.locker_room %></div>
    <div><%= group.field.parking %></div>
    <div><%= group.field.indoor %></div>
    <div><%= group.date.strftime("%-d %B") %> <%= group.start_time.strftime("%R") %>-<%= group.end_time.strftime("%R") %></div>
    <div><%= group.min_members %>/<%= group.max_members %> members</div>
    <div><%= group.price %>€</div>
    <div><%= group.field.field_size %> vs <%= group.field.field_size %></div>
    <div><%= group.field.field_type %></div>
  </div>
</div>
