<% if user_signed_in? %>
  <%= render "/shared/navbar" %>
<% else %>
  <%= link_to "LOG IN", new_user_session_path, class: "log-in-btn", id: "homepage-log-in-btn" %>
<% end %>
<div class="search-index">
  <%= render "/groups/search-form-groups-index" %>
  <div class="container">
    <%= render "/groups/search-filter" %>
  </div>
</div>


<h3 class="text-center my-2" >Search Results:</h3>

<% if @groups.exists? %>
  <div class="container">
    <div
      id="map"
      style="width: 100%;
      height: 300px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

  <% @groups.each do |group| %>
    <%= link_to group, style:"color: white" do %>
      <%= render "/shared/group-index-card", group: group %>
    <% end %>
  <% end %>
<% else %>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <p>No fields were found.</p>
    </div>
  </div>
<% end %>
