<% if user_signed_in? %>
  <%= render "/shared/navbar" %>
<% else %>
  <div class="container">
    <div class="row justify-content-between align-items-center nav-no-log" style="margin-top: 15px; margin-bottom: -60px">
      <%= link_to '<h2>FOOTY</h2>'.html_safe, :root, class: "footy-link-navbar pl-3" %>
      <div class="d-flex align-items-center">
        <%= link_to "LOG IN", new_user_session_path, class: "log-in-btn pr-2" %>
        <p>|</p>
        <%= link_to "SIGN UP", new_user_registration_path, class: "pl-2", style: "font-weight: bold; margin-right: 15px"%>
      </div>
    </div>
  </div>
<% end %>

<div class="show-nav">
  <%= link_to '<i class="fas fa-chevron-left"></i>'.html_safe, :back %>
  <a id="a-ex"href="#map-show">Location</a>
  <p>|</p>
  <a href="#google-maps">Details</a>
  <p>|</p>
  <a href="#field-size">Description</a>
  <p>|</p>
  <a id="a-ex"href="#reviews-row">Reviews</a>
</div>

<div class="field-name-show-group">
  <h3 class="mb-0"><%= @group.field.name %></h3>
  <p class="mt-1 text-center mb-2"><strong><%= @group.start_time.strftime("%R") %> - <%= @group.end_time.strftime("%R") %>, <%= @group.date.strftime("%-d %B") %></strong></p>
</div>

<div class="back-transp-black">
  <div class="container">
    <div class="row">
      <div id="map-show" class="field-img-show-group">
        <%= cl_image_tag(@group.field.photo) %>
        <% if @group.end_date_time > DateTime.now %>
          <div class="overlay-info-div">
            <% if current_user.role == "Player" %>
              <h2 style="margin-bottom: 0"><strong><%= @group.price / @group.group_members.count %> € </strong> p/ player</h2>
              <p style="margin-bottom: 10px">(minimum <%= @group.min_members %> players)</p>
              <% if @group.users.include?(current_user) && @group.end_date_time > DateTime.now %>
                <%= link_to "Chat Room", group_chat_room_path(@group, @chat_room), class: "solid-btn with-shadow", style:"color: black;" %>
              <% elsif @group.end_date_time > DateTime.now %>
                <%= link_to "JOIN GROUP!", "#", data: {toggle: "modal", target: "#exampleModalCenter"}, class: "solid-btn", style:"color: black;" %>
              <% end %>
            <% elsif current_user.role == "Owner" %>
              <div class="d-flex justify-content-around" style="width: 100%">
                <%= link_to group_path(@group) do %>
                  <p class="edit-field-btn shadow-for-btns-edit-delete">Edit Group</p>
                <% end %>
                <%= link_to group_path(@group), method: :delete, data: { confirm: "Are you sure you want to delete this field?"} do %>
                  <p class="delete-field-btn shadow-for-btns-edit-delete">Delete Group</p>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p id="google-maps" style="font-weight: bold" class="mt-2">Location:</p>
        <div
          id="map"
          style="width: 100%;
          height: 200px;" class="mt-2"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
        <p class="mt-1"><%= @group.field.location %></p>
        <%= link_to "https://www.google.com/maps/search/?api=1&query=#{@markers[:lat]},#{@markers[:lng]}", target: "_blank" do%>
          <p class="mt-2 maps-link pb-2">Open in Google Maps</p>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p style="font-weight: bold" class="mt-2">Details:</p>
        <ul id="details-list" class="list-details mt-1 pb-2 mb-0">
          <li>
            <p>Parking:
              <% if @group.field.parking %>
                <i class="fas fa-check-circle green-icon"></i>
              <% else %>
                <i class="fas fa-times-circle red-icon"></i>
              <% end %>
            </p>
          </li>
          <li>
            <p>Locker Room:
              <% if @group.field.locker_room %>
                <i class="fas fa-check-circle green-icon"></i>
              <% else %>
                <i class="fas fa-times-circle red-icon"></i>
              <% end %>
            </p>
          </li>
          <li>
            <p>Indoors:
              <% if @group.field.indoor %>
                <i class="fas fa-check-circle green-icon"></i>
              <% else %>
                <i class="fas fa-times-circle red-icon"></i>
              <% end %>
            </p>
          </li>
          <li>
            <p id="field-size">Field Size: <strong><%= @group.field.field_size %> vs <%= @group.field.field_size %></strong></p>
          </li>
          <li>
            <p>Field Type: <strong><%= @group.field.field_type %></strong></p>
          </li>
          <li style="display: inline-flex;">
            <p>Members: <strong><%= @group.group_members.count %>/<%= @group.max_members %></strong> <p style="font-size: 14px; padding-left: 10px;">(minimum players: <%= @group.min_members %>)</p></p>
          </li>
          <li style="display: inline-flex;">
            <p>Current Price: <strong><%= @group.price / @group.group_members.count %> €</strong> <p style="font-size: 14px; padding-left: 10px;">(<%= @group.price %>€ / <%= @group.group_members.count %>)</p></p>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p style="font-weight: bold" class="mt-2">Description:</p>
        <p id="description-border" class="mt-1 pb-2" style="text-align: justify"><%= @group.field.description %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p style="font-weight: bold" class="mt-2">Reviews:</p>
      </div>
    </div>
    <% if @group.group_members.pluck(:field_review_description).uniq[0].nil? %>
      <p id="reviews-row" class="pb-2">No Reviews Yet.</p>
    <% end %>
    <% @group.group_members.each do |user| %>
      <% if !user.field_review_description.nil? %>
        <div class="row">
          <div class="avatar-link">
            <div class="col-12 d-flex align-items-center pt-2">
              <%= image_tag("avatar_player.jpg") %>
              <p class="pl-1"><strong><%= user.user.first_name %></strong></p>
              <%= user.field_review_rating %>
            </div>
          </div>
        </div>
        <div class="row pb-2">
          <div class="col-12">
            <div class="review-message">
              <p><%= user.field_review_description %></p>
              <p style="font-size: 12px; font-style: italic; text-align: right;"><%= time_ago_in_words(user.created_at) %> ago</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if @group.end_date_time <= DateTime.now && @group.group_members.where(user: current_user)[0].field_review_description.empty? %>
    <%= render "shared/review_form", group_member: @group_member %>
  <% end %>
</div>


<div class="container">
  <div class="row justify-content-center mt-2 mb-2">
    <% if !@group.users.include?(current_user) && current_user.role == "Player" %>
      <%= link_to "JOIN GROUP!", "#", data: {toggle: "modal", target: "#exampleModalCenter"}, class: "solid-btn", style:"color: black;" %>
    <% end %>
  </div>
</div>

<%= render "/shared/cancellation-policy" %>


