<div class="card-contain">
  <div class="container">
    <div class="row">
      <div class="col-4 px-0 py-0">
        <div class="stadium">
          <%= image_tag("stadium.jpeg") %>
        </div>
      </div>
      <div class="col-8 px-0 py-0">
        <div class="col-12 group-index-card">
          <h3 class="mb-0 bold"><%= group.field.name %></h2>
          <p><%= group.date.strftime("%-d %B") %>, <%= group.start_time.strftime("%R") %>-<%= group.end_time.strftime("%R") %></p>
          <p style="font-size: 14px"><%= group.field.location %></p>
          <% if group.field.locker_room %>
            <i class="fas fa-shower green"></i>
          <% end %>
          <% if group.field.parking %>
            <i class="fas fa-parking green"></i>
          <% end %>
          <%if group.field.indoor %>
            <i class="fas fa-warehouse green"></i>
          <% end %>
          <p><%= group.field.field_type %></p>
          <p><%= group.field.field_size %> vs <%= group.field.field_size %></p>
          <p><%= group.min_members %>/<%= group.max_members %> members</p>
          <h3 class="bold mb-0"><%= group.price %>€</h3>
          <div><p><%= link_to "Show Group", group %></p></div>
        </div>
      </div>
    </div>
  </div>
</div>
