<div class="card-contain" style="position: relative">
  <div class="container">
    <div class="row">
      <div class="col-3 px-0 py-0">
        <div class="stadium">
          <%= cl_image_tag(group.field.photo) %>
        </div>
      </div>
      <div class="col-9 px-0 py-0">
        <div class="col-12 group-index-card">
          <h3 class="mb-0 bold"><%= group.field.name %></h2>
          <p class="location-search-group-card"><%= group.start_time.strftime("%R") %>-<%= group.end_time.strftime("%R") %>, <%= group.date.strftime("%-d %B") %></p>
          <p class="mt-1 location-search-group-card" style="font-size: 14px"><%= group.field.location %></p>
          <div class="row mb-2 mt-2">
            <div class="col-2 pl-3">
              <% if group.field.locker_room %>
                <i class="fas fa-shower green"></i>
              <% else %>
                <i class="fas fa-shower gray"></i>
              <% end %>
            </div>
            <div class="col-1 pl-2 pr-2 mr-3">
              <% if group.field.parking %>
                <i class="fas fa-parking green"></i>
              <% else %>
                <i class="fas fa-parking gray"></i>
              <% end %>
            </div>
            <div class="col-2 pl-2 pr-0">
              <%if group.field.indoor %>
                <i class="fas fa-warehouse green"></i>
              <% else %>
                <i class="fas fa-warehouse gray"></i>
              <% end %>
            </div>
            <div class="col-3 pl-0 bord-left">
              <p style="font-size: 14px"><%= group.field.field_type %></p>
            </div>
            <div class="col-3 pl-0 pr-2 bord-left">
              <p style="font-size: 14px"><%= group.field.field_size %> vs <%= group.field.field_size %></p>
            </div>
          </div>
          <div class="row justify-content-between">
            <p class="members-p" style="font-size: 14px; line-height: 33px">
                <%= group.group_members.count %>/<%= group.max_members %> members</p>
            <h3 class="bold mb-0 price-group-card pr-2">
              <% if group.group_members.count != 0 %>
                <%= group.price / group.group_members.count %>
              <% else %>
                <%= group.price %>
              <% end %>
            €</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
