<div class="footy-navbar navbar dropdown-menu-left navbar-light navbar-lewagon fixed-top">
  <ul class="no-list-icon">
    <li class="nav-item dropdown">
      <button onclick="" id="navbar-list-home" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars drop"></i>
      </button>

      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" id="close-nav">&times;</a>
        <%= link_to "Search for a match", :root, class: "nav-link" %>
        <%= link_to "Rent a field", new_field_path, class: "nav-link bord-bot" %>
        <%= link_to "My Profile", profile_path, class: "nav-link" %>
        <%= link_to "My Bookings", my_bookings_path, class: "nav-link" %>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link bord-bot" %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </div>
    </li>
  </ul>

  <%= link_to '<h2>FOOTY</h2>'.html_safe, :root, class: "footy-link-navbar" %>

  <ul class="no-list-icon">
    <li class="nav-item avatar-link">
      <%= link_to image_tag("avatar_player.jpg") %>
    </li>
  </ul>
</div>
