<div class="home-background" data-message="<%= @new_message ? @new_message.to_json : '{}' %>">
  <% if user_signed_in? %>
    <%= render "/shared/navbar" %>
  <% else %>
    <div class="container">
      <div class="row justify-content-end">
        <%= link_to "LOG IN", new_user_session_path, class: "log-in-btn", id: "homepage-log-in-btn" %>
      </div>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div style="padding-top: 207px">
    </div>
  <% else %>
    <div class="container">
      <div class="row justify-content-center">
        <h1 id="footy-homepage">FOOTY</h1>
      </div>
    </div>
  <% end %>

  <div class="container">
    <div class="row justify-content-center value-prop-row">
      <h3 id="value-prop">Meet new People.<br>Play Football.</h3>
    </div>
    <div class="row justify-content-center">
      <p id="search-phrase">Search for a field, a time, and play!</p>
    </div>
    <div class="row">
      <%= render "/shared/search_form" %>
    </div>
    <% if user_signed_in?%>
      <div class="row no-sign-up-btn">

      </div>
    <% else %>
      <div class="row sign-up-btn-row">
        <%= link_to "Sign Up!", new_user_registration_path, class: "sign-up-btn", id: "homepage-sign-up-btn" %>
      </div>
    <% end %>
  </div>
</div>
